
.contact-head {
	background-color: var(--main-bg);
}
.contact-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}
.contact-img img {
	max-width: 100%;
	width: 350px;
	height: auto;
	border-radius: 50%;
	transition: all 0.42s;
}
.contact-img img:hover {
	filter: brightness(70%);
	box-shadow: 0 0 25px var(--sec-color), 0 0 50px var(--sec-color),
		0 0 100px var(--sec-color);
}
.contact-text h2 {
	color: var(--sec-color);
	font-size: var(--h4-font);
	font-weight: 700;
	text-transform: capitalize;
	font-family: "Work Sans", serif;
}
.contact-text hr {
	border: 2px solid var(--sec-color);
	width: 25%;
	margin: 12px 0px;
}
.contact-text h4 {
	color: var(--text-color);
	font-size: var(--h6-font);
	font-weight: 500;
	margin: 10px 0px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 2;
}

/* Sticky header CSS */
header.sticky {
	background-color: var(--pri-color);
	padding: 14px 14%;
	box-shadow: 6px 4px 15px rgb(0 0 0 /8%);
	transition: all 0.42s;
}

/* Contact Middle CSS */

.contact {
	background-color: #111111;
}
.main-contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 8rem;
}
.customers-info {
	padding: 30px 30px;
	border: 2px solid var(--sec-color);
	border-radius: 8px;
}
.input-detls label {
	color: var(--sec-color);
	font-size: var(--p-font);
	font-weight: 400;
	text-transform: capitalize;
}
.input-detls input {
	width: 100%;
	padding: 15px 10px;
	outline: none;
	margin: 15px 0px;
	border: 2px solid var(--sec-color);
	border-radius: 8px;
	background: transparent;
	caret-color: var(--sec-color);
}
::placeholder {
	color: var(--p-color);
	font-size: var(--p-font);
}
input:focus,
input:valid {
	color: var(--text-color);
}
form label {
	color: var(--sec-color);
	font-size: var(--p-font);
	font-weight: 400;
	text-transform: capitalize;
}
form textarea {
	max-width: 100%;
	width: 100%;
	border: 2px solid var(--sec-color);
	outline: none;
	background: transparent;
	margin-top: 20px;
	padding: 15px 15px;
	border-radius: 8px;
	resize: none;
	caret-color: var(--sec-color);
	color: var(--text-color);
	margin-bottom: 15px;
}

form .sub {
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	padding: 15px 0px;
	border-radius: 8px;
	background: var(--sec-color);
	border: 2px solid var(--sec-color);
	outline: none;
	cursor: pointer;
	transition: all 0.42s;
}
form .sub:hover {
	background-color: transparent;
}
.cont-right h4 {
	color: var(--sec-color);
	font-size: var(--h6-font);
	font-weight: 700;
	font-style: italic;
	text-transform: capitalize;
	margin-bottom: 15px;
	letter-spacing: 1.5px;
}
.cont-right h2 {
	color: var(--text-color);
	font-size: var(--h3-font);
	font-weight: 700;
	text-transform: capitalize;
	font-family: "Work Sans" serif;
	line-height: 1.5;
}
.cont-right h2 span {
	color: var(--sec-color);
}
.cont-right hr {
	width: 30%;
	border: 2px solid var(--sec-color);
	margin: 15px 0;
	display: inline-block;
}
.cont-right p {
	max-width: 600px;
	color: var(--p-color);
	font-size: var(--h6-font);
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 40px;
}

/* Footer Section CSS */
.footer {
	background: radial-gradient(
		circle,
		rgba(8, 18, 16, 1) 34%,
		rgba(0, 0, 0, 1) 69%
	);
}
.main-footer {
	text-align: center;
	padding: 45px 0px;
}
.footer-text h4 {
	color: var(--sec-color);
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin-bottom: 15px;
}
.footer-text h2 {
	color: var(--text-color);
	font-size: var(--h3-font);
	font-weight: 700;
	margin-bottom: 10px;
	text-transform: capitalize;
	line-height: 1.2;
	font-family: "Work Sans", serif;
}
.footer-text p {
	color: var(--p-color);
	font-size: var(--h6-font);
	font-weight: 500;
	line-height: 2;
	margin-bottom: 25px;
}
.form-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}
.client-details input {
	width: 100%;
	height: auto;
	padding: 20px 80px;
	margin: 15px 0px;
	outline: none;
	border: 3px solid var(--sec-color);
	border-radius: 5px;
	background: transparent;
	caret-color: var(--main-bg);
}
::placeholder {
	color: var(--p-color);
	font-size: var(--p-font);
	text-transform: capitalize;
}
input:focus,
input:valid {
	color: var(--text-color);
}
.contact-btn {
	text-align: center;
	margin: 50px 0px;
}
.contact-btn a {
	color: var(--main-bg);
	background-color: var(--sec-color);
	font-size: var(--h6-font);
	font-weight: 600;
	padding: 10px 15px;
	border: 2px solid var(--sec-color);
	border-radius: 5px;
	text-transform: uppercase;
	transition: all 0.42s;
}
.contact-btn p {
	color: var(--p-color);
	font-size: var(--h6-font);
	font-weight: 600;
	margin-top: 30px;
	letter-spacing: 2px;
}
.social-icon {
	margin: 10px 0px;
}
.social-icon i {
	background-color: var(--sec-color);
	color: var(--main-bg);
	font-size: var(--h3-font);
	font-weight: 600;
	margin-right: 20px;
	border: 1px solid var(--sec-color);
	border-radius: 50%;
	padding: 5px;
	transition: all 0.42s;
}
.social-icon i:hover {
	transform: translateY(-5px);
}
/* Copyright Section CSS */

.copyright {
	background: var(--main-bg);
	text-align: center;
}
.copyright p {
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 400;
	text-transform: capitalize;
	padding: 25px 0;
}

.mobile-menu {
	display: none;
}
.mobile-menu i {
	color: white;
	font-size: 30px;
}
.mobile_header_div {
	display: none;
}

@media only screen and (max-width: 450px) {
  .contact-head{
    margin: 0;
    padding: 0;
  }
	.contact-section {
		display: flex;
		flex-direction: column;
		margin-top: 100px;
	}
	.review-top h2 {
		font-size: 28px;
	}
	.review-top p {
		font-size: 14px;
	}
	.client-reviews {
		display: flex;
		flex-direction: column;
	}
	.contact-img img {
		width: 150px;
		height: 150px;
	}
	.service-middle {
		margin-top: 100px;
	}
	.form-menu {
		display: flex;
		flex-direction: column;
	}
	.service-end {
		display: flex;
		flex-direction: column;
		gap: 4;
	}
	.review-btn a {
		font-size: 14px;
		font-weight: 400;
	}
	.main-contact {
    width: 90%;
    margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
  .customers-info {
    padding:  0 ;
    margin: 0;
    border: none;
  }
  .input-detls{ 
    width: 90%;
    margin:  0 auto;
    padding:  0 auto;
  }
  form textarea {
    width:  90%;
    margin: 0 auto;
    padding: 0 auto;
  }
}
