* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --text-color: #ffffff;
  --main-bg: #000000;
  --sec-color: #5cd2b9;
  --pri-color: #151515;
  --p-color: #aaaaaa;

  --h1-font: 4rem;
  --h2-font: 2.25rem;
  --h3-font: 1.875rem;
  --h4-font: 3.125rem;
  --h6-font: 1.125rem;
  --p-font: 1rem;
}
body {
  background-color: var(--pri-color);
}
header {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 10001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 14%;
}
.logo {
  color: var(--text-color);
  font-size: var(--h2-font);
  cursor: pointer;
}
.logo span {
  color: var(--sec-color);
}
.nav-section {
  display: flex;
  align-items: center;
  color: var(--p-color);
  list-style: none;
}
.nav-section a {
  color: var(--text-color);
  font-size: var(--h6-font);
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.42s;
}
.nav-section a:hover {
  color: var(--sec-color);
}
section {
  padding: 110px 14% 100px;
}

/* Sticky Header Section */
header.sticky {
  background-color: var(--pri-color);
  padding: 14px 14%;
  box-shadow: 6px 4px 15px rgb(0 0 0 /8%);
  transition: all 0.42s;
}

/*  */

.employ {
  background-color: var(--main-bg);
}
.employ-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
.employ-img img {
  max-width: 100%;
  width: 400px;
  height: auto;
}
.employ-text h4 {
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.employ-text h2 {
  color: var(--text-color);
  font-size: var(--h2-font);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
}

/* Appoint section */
.appoint-top {
  text-align: center;
}

.appoint-top h4 {
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.appoint-top h2 {
  color: var(--text-color);
  font-size: var(--h2-font);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.2;
  font-family: "Work Sans", serif;
}
.appoint-top hr {
  width: 15%;
  border: 2px solid var(--sec-color);
  margin: 5px 0;
  display: inline-block;
}

.appoint-center {
  margin: 20px 0px;
}
.appoint-center h4 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.appoint-end {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin: 20px 0px;
}
.box {
  background-color: var(--pri-color);
  margin: 2rem 0px;
  padding: 20px 25px;
  border-radius: 8px;
  transition: all 0.4s ease;
  box-shadow: 0 0 20px var(--sec-color), 0 0 14px var(--sec-color),
    0 0 30px var(--sec-color);
}
.box:hover {
  transform: translateY(-5px);
}
.box h4 {
  color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.box li {
  color: var(--text-color);
  font-size: var(--h6-font);
  line-height: 26px;
  text-align: justify;
  margin: 15px 0px;
}
.box p {
  color: var(--p-color);
  font-size: var(--h6-font);
  font-weight: 500;
  text-align: justify;
  margin: 10px 0px;
}
.appoint-btn a {
  color: var(--main-bg);
  font-weight: 600;
  padding: 10px 25px;
  background-color: var(--sec-color);
  border: 2px solid var(--sec-color);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.42s;
}
.appoint-btn a:hover {
  color: var(--text-color);
  background-color: transparent;
}

/* Footer Section CSS */
.footer {
  background: radial-gradient(
    circle,
    rgba(8, 18, 16, 1) 34%,
    rgba(0, 0, 0, 1) 69%
  );
}
.main-footer {
  text-align: center;
  padding: 45px 0px;
}
.footer-text h4 {
  color: var(--sec-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.footer-text h2 {
  color: var(--text-color);
  font-size: var(--h3-font);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.2;
  font-family: "Work Sans", serif;
}
.footer-text p {
  color: var(--p-color);
  font-size: var(--h6-font);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 25px;
}
.form-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.client-details input {
  width: 100%;
  height: auto;
  padding: 20px 80px;
  margin: 15px 0px;
  outline: none;
  border: 3px solid var(--sec-color);
  border-radius: 5px;
  background: transparent;
  caret-color: var(--main-bg);
}
::placeholder {
  color: var(--p-color);
  font-size: var(--p-font);
  text-transform: capitalize;
}
input:focus,
input:valid {
  color: var(--text-color);
}
.contact-btn {
  text-align: center;
  margin: 50px 0px;
}
.contact-btn a {
  color: var(--main-bg);
  background-color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid var(--sec-color);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.42s;
}
.contact-btn p{
  color: var(--p-color);
  font-size: var(--h6-font);
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 2px;
}
.social-icon {
  margin: 10px 0px;
}
.social-icon i {
  background-color: var(--sec-color);
  color: var(--main-bg);
  font-size: var(--h6-font);
  font-weight: 600;
  margin-right: 20px;
  border: 1px solid var(--sec-color);
  border-radius: 50%;
  padding: 5px;
  transition: all 0.42s;
}
.social-icon i:hover {
  transform: translateY(-5px);
}

/* Copyright Section CSS */

.copyright {
  background: var(--main-bg);
  text-align: center;
}
.copyright p {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 400;
  text-transform: capitalize;
  padding: 25px 0;
}
