
/* Reviews-section CSS */
.reviews-section{
    background: var(--main-bg);
  }
  .review-top{
    text-align: center;
  }
  .review-top h4{
    color: var(--sec-color);
    font-size: var(--h6-font);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .review-top h2{
    color: var(--text-color);
    font-size: var(--h2-font);
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Work Sans", serif;
    line-height: 1.5;
  }
  .review-top h2 span{
    color: var(--sec-color);
  }
  .review-top p {
    color: var(--p-color);
    font-size: var(--h6-font);
    font-weight: 500;
    line-height: 2;
    margin-bottom: 25px;
  }
  .client-reviews{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
   
  }
  .client-box{
    background-color: var(--pri-color);
    padding: 15px 10px;
    gap: 1.5rem;
    border-radius: 10px;
    transition: all .42s;
  }
  .client-box:hover{
    transform: scale(1.1);
  }
  .client-text h4{
    color: var(--sec-color);
    font-size: var(--h6-font);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin: 15px 0px;
  }
  .client-text p{
    color: var(--p-color);
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 26px;
  }
  .review-btn{
    margin-top: 50px;
  }
  .review-btn a {
    color: var(--main-bg);
    background-color: var(--sec-color);
    font-size: var(--h6-font);
    font-weight: 600;
    padding: 10px 15px;
    border: 2px solid var(--sec-color);
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.42s;
  }
  .review-btn a:hover {
    color: var(--text-color);
    background-color: transparent;
  }
    

/* Footer section CSS */
.footer {
  background: radial-gradient(
    circle,
    rgba(8, 18, 16, 1) 34%,
    rgba(0, 0, 0, 1) 69%
  );
}
.main-footer {
  text-align: center;
  padding: 45px 0px;
}
.footer-text h4 {
  color: var(--sec-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.footer-text h2 {
  color: var(--text-color);
  font-size: var(--h3-font);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 1.2;
  font-family: "Work Sans", serif;
}
.footer-text p {
  color: var(--p-color);
  font-size: var(--h6-font);
  font-weight: 500;
  line-height: 2;
  margin-bottom: 25px;
}
.form-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.client-details input {
  width: 100%;
  height: auto;
  padding: 20px 80px;
  margin: 15px 0px;
  outline: none;
  border: 3px solid var(--sec-color);
  border-radius: 5px;
  background: transparent;
  caret-color: var(--main-bg);
}
::placeholder {
  color: var(--p-color);
  font-size: var(--p-font);
  text-transform: capitalize;
}
input:focus,
input:valid {
  color: var(--text-color);
}
.contact-btn {
  text-align: center;
  margin: 50px 0px;
}
.contact-btn a {
  color: var(--main-bg);
  background-color: var(--sec-color);
  font-size: var(--h6-font);
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid var(--sec-color);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.42s;
}
.contact-btn p {
  color: var(--p-color);
  font-size: var(--h6-font);
  font-weight: 600;
  margin-top: 30px;
  letter-spacing: 2px;
}
.social-icon {
  margin: 10px 0px;
}
.social-icon i {
  background-color: var(--sec-color);
  color: var(--main-bg);
  font-size: var(--h6-font);
  font-weight: 600;
  margin-right: 20px;
  border: 1px solid var(--sec-color);
  border-radius: 50%;
  padding: 5px;
  transition: all 0.42s;
}
.social-icon i:hover {
  transform: translateY(-5px);
}

/* Copyright Section CSS */

.copyright {
  background: var(--main-bg);
  text-align: center;
}
.copyright p {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 400;
  text-transform: capitalize;
  padding: 25px 0;
}

@media only screen and (max-width : 450px) {
  .review-top { 
    display: flex ;
    flex-direction: column;
    margin-top: 100px;
  }
.review-top h2{
  font-size: 28px;
}
.review-top p{
  font-size: 14px;
}
.client-reviews { 
  display: flex;
  flex-direction: column;
}
  .s-img img { 
    width: 200px ;
    height: 200px;
  }
  .service-middle { 
    margin-top: 100px;
  }
  .form-menu { 
    display: flex ;
    flex-direction: column;
  }
  .service-end { 
    display: flex;
    flex-direction: column;
    gap : 4;
  }
  .review-btn a { 
    font-size: 14px;
    font-weight: 400;
  }
}